* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*background: linear-gradient(34deg, #ff0000 0%, #8b1010 50%, #000000 100%);*/

/*Snackbar style*/

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-weight: 500 !important;
  text-align: center;
  margin-right: 15px;
}

::ng-deep .snackbar-danger .mdc-snackbar__surface {
  background-color: #830a0a !important;
  color: white !important;
  padding: 10px;
  font-weight: bold;
}

::ng-deep .snackbar .mdc-snackbar__surface {
  background-color: #0a0a0a !important;
  color: white !important;
  padding: 10px;
  font-weight: bold;
}
/*************************************************************************************/

/*Body*/
body, html {
  height: 100%;
}

.body {
  background: linear-gradient(#08306b,#1f52a0, rgb(48, 119, 224), #1f52a0, #08306b);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.space-conteiners {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}
/*************************************************************************************/


/*Header*/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  background: #131414;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

header a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  text-indent: 30px;
  font-size: 20px;
  color: #ffffff; /* emerald */
  cursor: pointer;
}


header a:hover {
  color: #f8f5f5ad; /* emerald */
}

header .name-site {
  text-decoration: none;
  color: white;
}

header .name-site:hover {
  color: rgb(199, 199, 199);
}

.buttonHeader {
  padding: 6px;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-top: 2px solid #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #ffffff;
}

.buttonHeader:hover {
  color: rgb(255, 255, 255);
  box-shadow: inset 0 -100px 0 0 #4687e9;
}

.buttonHeader:active {
  transform: scale(0.9);
}

header .buttonHeader2{
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffffff;
}

/*************************************************************************************/


/*Container 1*/
.container-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.container-1 h1 {
  cursor: default;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  max-width: 600px;
  line-height: 1.2;
}

.container-1 p {
  cursor: default;
  font-size: 17px;
  margin-bottom: 2rem;
  max-width: 400px;
  opacity: 0.9;
}

.btn-primary {
  background: white;
  color: #001738;
  border: none;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 15px #4687e9;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary:hover {
  background: #0c2852;
  color: white;
  box-shadow: 0 6px 20px #4687e9;
}
/*************/

/*Containe 2 */

.container-2 {
  background-color: #2b4771;
  padding: 30px;
}

.content-2 {
  display: flex;
  padding: 30px;
  margin-bottom: 50px;
  gap: 20px;
}

.content-information-2 {
  flex: 3;
  margin-top: 20px;
}

.content-information-2 h4 {
  font-weight: 500;
}

.content-card-2 {
  flex: 1;
  margin-left: 30px;
}

.container-2 h1 {
  margin-top: 30px;
  color: rgb(228, 228, 228);
}

.container-2 h4 {
  color: rgb(231, 231, 231);
}

.container-2 .separator {
  background-color: rgba(255, 255, 255, 0.664);
  height: 3px;
  margin-top: 10px;
  margin-bottom: 50px;
  width: 15%;
}

.main-container {
  font-family: "Trebuchet MS", sans-serif;
  position: relative;
  height: 203px;
  aspect-ratio: 1.579;
  border-radius: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease-in;
}
.main-container:hover {
  transform: rotateZ(1deg) rotateY(10deg) scale(1.1);
  box-shadow: 0 5em 2em #111;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  background: linear-gradient(
    115deg,
    rgba(0, 0, 0, 0.33) 12%,
    rgba(255, 255, 255, 0.33) 27%,
    rgba(255, 255, 255, 0.33) 31%,
    rgba(0, 0, 0, 0.33) 52%
  );
}

.border:hover:after {
  position: absolute;
  content: " ";
  height: 50em;
  aspect-ratio: 1.58;
  border-radius: 1em;
  background: linear-gradient(
    115deg,
    rgba(0, 0, 0, 1) 42%,
    rgba(255, 255, 255, 1) 47%,
    rgba(255, 255, 255, 1) 51%,
    rgba(0, 0, 0, 1) 52%
  );
  animation: rotate 4s linear infinite;
  z-index: 1;
  opacity: 0.05;
}

.card {
  height: 12.5em;
  aspect-ratio: 1.586;
  border-radius: 1em;
  background-color: #999;
  opacity: 0.8;
  background-image: linear-gradient(to right, #777, #777 2px, #999 2px, #999);
  background-size: 4px 100%;
}

.shadow {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.85em;
  border: 1px solid #bbb;
  background:
    radial-gradient(
        circle at 100% 100%,
        #ffffff 0,
        #ffffff 8px,
        transparent 8px
      )
      0% 0%/13px 13px no-repeat,
    radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px)
      100% 0%/13px 13px no-repeat,
    radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px)
      0% 100%/13px 13px no-repeat,
    radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100%
      100%/13px 13px no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 10px)
      calc(100% - 26px) no-repeat,
    linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 26px)
      calc(100% - 10px) no-repeat,
    linear-gradient(
      135deg,
      rgba(3, 3, 3, 0.5) 0%,
      transparent 22%,
      transparent 47%,
      transparent 73%,
      rgba(0, 0, 0, 0.5) 100%
    );
  box-sizing: border-box;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  border: 1px solid #aaa;
  box-shadow: -1px -1px 0 #ddd;
  transform: translate(-50%, -50%);
  height: 12em;
  aspect-ratio: 1.604;
  background-image: linear-gradient(to right, #777, #555 2px, #aaa 2px, #aaa);
  background-size: 4px 100%;
}

.rev {
  top: 0.5em;
  left: 0.75em;
  color: #ffffff9f;
  font-size: 1.25em;
}

.master {
  position: absolute;
  bottom: 1.25em;
  right: 0.5em;
  background: linear-gradient(
    90deg,
    rgba(75, 75, 75, 0.25) 0%,
    rgba(121, 121, 121, 1) 100%
  );
  color: #fff;
  height: 2.5em;
  width: 2.5em;
  border: 1px solid #bbb;
  border-radius: 50%;
}

.master.one {
  right: 2em;
}

.master-text {
  bottom: 0.25em;
  right: 0.8em;
  font-size: 0.75em;
}

.ultra-text {
  top: -4px;
  right: 1.75em;
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.66);
}

.ultra-text,
.master-text,
.rev {
  position: absolute;
  text-shadow: -1px -1px #333;
  color: #fff;
  opacity: 0.75;
}

.chip {
  position: absolute;
  top: 27.5%;
  left: 8.25%;
}

@keyframes rotate {
  0% {
    transform: translate(-25em, -15em);
  }
  20% {
    transform: translate(25em, 15em);
  }
  100% {
    transform: translate(25em, 15em);
  }
}


/*Container 3*/

.container-3 {
  background-color: #111827;
  width: 100%;
  padding: 30px;
}

.content-3 {
  display: flex;
  padding: 100px;
  gap: 20px;
}

.container-3 h1{
  color: rgb(255, 255, 255);
}

.container-3 .separator {
  background-color: rgba(255, 255, 255, 0.822);
  height: 2px;
  margin-top: 10px;
  width: 15%;
}

.card-1 {
  flex: 1;
  border: 3px solid #374b75;
  background-color: #253453;
  border-radius: 10px;
  padding: 10px;
  height: 100%;
  cursor: default;
}

.card-1:hover {
  background-color: #374b75;
}

.card-1-content {
  padding: 30px;
}

.card-1-content h2{
  margin-bottom: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.card-1-content li{
  margin-bottom: 10px;
  list-style: none;
  font-size: 18px;
  text-decoration: none;
  color: rgb(219, 219, 219);
}

.card-2 {
  flex: 1;
  border: 3px solid #374b75;
  background-color: #253453;
  border-radius: 10px;
  padding: 10px;
  cursor: default;
}

.card-2:hover {
  background-color: #374b75;
}

.card-2-content {
  padding: 30px;
}

.card-2-content h2{
  color: white;
  margin-bottom: 40px;
  text-align: center;
}

.card-2-content li{
  color: #DBDBDB;
  list-style: none;
  font-size: 18px;
  margin-bottom: 10px;
}
/****/



/*Footer*/
footer {
  background-color:#131414;
  color: white;
  padding: 45px;
  text-align: center;
  font-size: 16px;
}


/*************************************************************************************/


/* Sidebar styles */
.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -450px; /* escondida inicialmente */
  width: 400px;
  height: 100vh;
  background: rgb(255, 255, 255);
  color: #00bc7d;
  padding: 2rem;
  box-shadow: -5px 0 15px rgba(0,0,0,0.3);
  transition: right 0.6s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  right: 0;
}

.close-btn {
  align-self: flex-end;
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  color: #4687e9;
  margin-bottom: 1rem;
}

.close-btn:hover {
  color: #1a407a;
}

.form {
  background-color: transparent;
  display: block;
  padding: 1rem;
  max-width: 350px;
  border-radius: 0.5rem;
}

.form-title {
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #c3c3c3;
  margin: 10px 0;
}

.input-container input:focus {
  border-color: #8fb6f0;
}

.input-container input {
  background-color: #fff;
  padding: 12px;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  background-color: #4687e9;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.submit:hover {
  background-color: #2959a1;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  margin-top: 20px;
  text-decoration: underline;
  color: #9340f1;
}

.signup-link a:hover {
  color: #370f64;
}



/* */
@media (max-width: 479px) {

  /* Header Styles*/
  .buttonHeader {
    display: none;
  }

  .buttonHeader2{
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-right: 10px;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: none;
    box-shadow: inset 0 0 0 0 #ffffff;
  }


  /* Container styles */
  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .container-1 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    max-width: 600px;
    line-height: 1.2;
  }

  .container-1 p {
    font-size: 13px;
    margin-bottom: 2rem;
    max-width: 400px;
    opacity: 0.9;
  }

  .content-2 {
    display: contents;
  }

  .content-card-2 {
    display: flex;
    place-content: center;
  }

  .content-2 .content-information-2 {
    margin: 50px 0px 20px 0px;
  }

  .content-3 {
    display: contents;
  }

  .content-3 .card-1 {
    margin: 50px 0px 30px 0px;
  }

  .content-3 .card-2 {
    margin-bottom: 30px;
  }



  .btn-primary {
    border: none;
    padding: 1rem 3rem;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  /* Sidebar styles */
  .sidebar {
    position: fixed;
    width: 100%;
    right: -479px;
    height: 100vh;
    padding: 2rem;
    transition: right 0.6s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

  .form {
    background-color: transparent;
    display: grid;
    place-items: center;
    padding: 1rem;
    max-width: 479px;
    border-radius: 0.5rem;
  }

  .form-title {
    font-size: 25px;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  .input-container input {
    padding: 12px;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 250px;
    border-radius: 0.5rem;
  }

  .submit {
    width: 250px;
  }

}


@media (min-width: 480px) and (max-width: 767px) {
  /* Header Styles*/
  .buttonHeader {
    display: none;
  }

  .buttonHeader2{
    padding: 5px;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    margin-right: 10px;
    transition: ease-out 0.5s;
    border: none;
    box-shadow: inset 0 0 0 0 #ffffff;
  }

  .buttonHeader2:hover {
    color: white;
  }


  /* Container styles */
  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  .container-1 h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    max-width: 600px;
    line-height: 1.2;
  }

  .container-1 p {
    font-size: 13px;
    margin-bottom: 2rem;
    max-width: 400px;
    opacity: 0.9;
  }

  .btn-primary {
    background: white;
    border: none;
    padding: 1rem 3rem;
    font-size: 15px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .content-2 {
    display: contents;
  }

  .content-card-2 {
    display: flex;
    place-content: center;
  }

  .content-3 {
    display: contents;
  }

  .content-3 .card-1 {
    margin: 50px 0px 30px 0px;
  }

  .content-3 .card-2 {
    margin-bottom: 30px;
  }

  /* Sidebar styles */
  .sidebar {
    position: fixed;
    width: 100%;
    right: -767px;
    height: 100vh;
    background: rgb(255, 255, 255);
    padding: 2rem;
    box-shadow: -5px 0 15px rgba(0,0,0,0.3);
    transition: right 0.6s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

  .form {
    background-color: transparent;
    display: grid;
    place-items: center;
    padding: 1rem;
    max-width: 767px;
    border-radius: 0.5rem;
  }

  .form-title {
    font-size: 25px;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
  }

  .input-container input {
    background-color: #fff;
    padding: 12px;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  .submit {
    width: 300px;
  }


  ::ng-deep .snackbar .mdc-snackbar__surface {
    background-color: #0a0a0a !important;
    color: white !important;
    padding: 3px;
    width: 250px !important;
    font-weight: bold;
  }
}





/* Tablets em modo paisagem */
@media (min-width: 768px) and (max-width: 1023px) {


  /* Container styles */
  .container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .container-1 h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
    max-width: 600px;
    line-height: 1.2;
  }

  .container-1 p {
    font-size: 15px;
    margin-bottom: 2rem;
    max-width: 400px;
    opacity: 0.9;
  }

  .btn-primary {
    background: white;
    border: none;
    padding: 1rem 3rem;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .content-2 .content-information-2 {
    margin-top: 0px;
  }

  .content-3 {
    padding: 50px;
    margin-top: 20px;
  }



  /* Sidebar styles */
  .sidebar {
    position: fixed;
    right: -1023px;
    height: 100vh;
    background: rgb(255, 255, 255);
    color: #00bc7d;
    padding: 2rem;
    box-shadow: -5px 0 15px rgba(0,0,0,0.3);
    transition: right 0.6s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }

  .form {
    background-color: transparent;
    display: block;
    padding: 1rem;
    max-width: 1023px;
    border-radius: 0.5rem;
  }

  .form-title {
    font-size: 25px;
    line-height: 1.75rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
    color: #000;
  }

  .input-container input {
    background-color: #fff;
    padding: 12px;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
}



/**Teste de animação**/

/* ANIMAÇÕES GERAIS */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Quando a diretiva inativa */
.hidden {
  opacity: 0;
  transform: translateY(0);
  transition: all 1s ease;
}

/* Quando a diretiva ativa */
.show {
  opacity: 1;
  transform: translateY(0);
}

/* --- Seções --- */

/* ANTES */
.container-1 h1,
.container-1 p,
.container-1 button {
  opacity: 0;
}

/* Quando aparecer (receber .show) */
.container-1.show h1 {
  animation: slideDown 1s ease-out forwards;
}

.container-1.show p {
  animation: slideDown 1s ease-out 0.5s forwards;
}

.container-1.show button {
  animation: slideDown 1s ease-out 1s forwards;
}

/* Mesmo padrão pros outros containers */
.container-2.show h1,
.container-2.show .separator {
  animation: slideLeft 2s ease-out forwards;
}

.container-2.show .content-card-2,
.container-2.show .content-information-2 {
  animation: slideRight 2s ease-out forwards;
}

.container-3.show h1,
.container-3.show .separator {
  animation: slideLeft 2s ease-out forwards;
}

.container-3.show .card-1,
.container-3.show .card-2 {
  animation: slideRight 2s ease-out forwards;
}
