* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::ng-deep .mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-weight: 500 !important;
  text-align: center;
  margin-right: 15px;
}

::ng-deep .snackbar .mdc-snackbar__surface {
  background-color: #0a0a0a !important;
  color: white !important;
  padding: 10px;
  font-weight: bold;
}

/**Body **/
html, body, .body {
  height: 100% !important;
}

.body {
  /*background: linear-gradient(#08306b,#1f52a0, rgb(48, 119, 224), #1f52a0, #08306b);*/
  background-color: #222222;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/***/

/*Header**/
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  background: #131414;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

header a {
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  text-indent: 30px;
  font-size: 20px;
  color: #ffffff; /* emerald */
  cursor: pointer;
}

header a:hover {
  color: #f8f5f5ad; /* emerald */
}


header .name-site {
  text-decoration: none;
  color: white;
}

header .name-site:hover {
  color: rgb(199, 199, 199);
}


header .buttonHeader{
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #ffffff;
}

header .buttonHeader:hover{
  color: rgb(206, 206, 206);
}

/**/

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}


/*----heading and description-----*/

.info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 900;
}

.description {
  margin: 10px 0px 10px 0px;
  font-size: 13px;
}

/*----Form------*/

.form {
  --black: #0e0d0d;
  --ch-black: #141414;
  --eer-black: #1b1b1b;
  --night-rider: #d8d8d8;
  --white: #ffffff;
  --af-white: #f3f3f3;
  --ch-white: #e1e1e1;
  --tomato: #fa5656;
  font-family: Helvetica, sans-serif;
  padding: 30px;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: var(--af-white);
  background-color: #131414;
  border-radius: 15px;
  position: relative;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
}


.form .input-fields {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form .input-fields input {
  height: 2.2em;
  width: 2.2em;
  outline: none;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: var(--af-white);
  border-radius: 5px;
  border: 2.5px solid var(--eer-black);
  background-color: var(--eer-black);
}

.form .input-fields input:focus {
  border: 1px solid var(--af-white);
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, .15);
  transform: scale(1.05);
  transition: 0.5s;
}

/*-----verify and clear buttons-----*/

.action-btns {
  display: flex;
  margin-top: 30px;
  gap: 10px;
}

.verify {
  background: white;
  color: #276ed8;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
  text-shadow: none;
  box-shadow: transparent;
  transition: 0.3s ease;
  user-select: none;
  cursor: pointer;
}

.verify:hover {
  background: #276ed8;
  border: 1px solid #276ed8;
  color: white;
}


.clear {
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--ch-white);
  cursor: pointer;
  text-shadow: none;
  background: transparent;
  border: 1px solid var(--ch-white);
  transition: 0.3s ease;
  user-select: none;
}

.clear:hover,.clear:focus {
  color: var(--tomato);
  background-color: transparent;
  border: 1px solid var(--tomato);
}

/** Form teste **/

.otp-Form {
  width: 550px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 20px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.082);
  border-radius: 15px;
}

.mainHeading {
  font-size: 30px;
  color: rgb(15, 15, 15);
  font-weight: 700;
}

.otpSubheading {
  font-size: 1em;
  color: black;
  line-height: 17px;
  text-align: center;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.otp-input {
  background-color: rgb(228, 228, 228);
  width: 60px;
  height: 50px;
  text-align: center;
  border: none;
  border-radius: 7px;
  caret-color: rgb(127, 129, 255);
  color: rgb(44, 44, 44);
  outline: none;
  font-weight: 600;
}

.otp-input:focus,
.otp-input:valid {
  background-color: rgba(127, 129, 255, 0.199);
  transition-duration: .3s;
}

.verifyButton {
  width: 100%;
  height: 30px;
  border: none;
  background-color: rgb(127, 129, 255);
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: .2s;
}

.verifyButton:hover {
  background-color: rgb(144, 145, 255);
  transition-duration: .2s;
}

.exitBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.171);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: none;
  color: black;
  font-size: 1.1em;
  cursor: pointer;
}

.resendNote {
  font-size: 1em;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.resendBtn {
  background-color: transparent;
  border: none;
  color: rgb(127, 129, 255);
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 700;
}

/*-----close button------*/

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: var(--night-rider);
  color: var(--ch-white);
  height: 30px;
  width: 30px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: .5s ease;
}

.close:hover {
  background-color: var(--tomato);
  color: var(--white);
}

.refresh-code{
  margin-top: 13px;
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.8;
}

.resendBtn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #196fd1;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

.resendBtn:hover {
  color: #124681;
}

footer {
  padding: 1rem;
  text-align: center;
  font-size: 15px;
  opacity: 0.8;
}


/*QR Code*/
.qrCode{
  width: 250px;
  height: 250px;
}

.qr-container {
  background-color: #131414;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  width: fit-content;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.qr-container img {
  margin-top: 10px;
  width: 160px;
  height: 160px;
}

.qr-title {
  font-size: 27px !important;
}

.qr-p1 {
  font-size: 0.75rem !important;
  margin-top: 5px;
}

.qr-p2 {
  font-size: 0.75rem !important;
  margin-bottom: 5px;
}

.qr-tip {
  font-size: 0.7rem;
  color: #ccc;
  margin-top: 10px;
}


@media (max-width: 479px) {


  /*Form */
  .form {
    padding: 22.5px;
  }

  .title {
    font-size: 18px !important;
  }

  .description {
    font-size: 0.7rem !important;
  }

  .form .input-fields input {
    height: 1.7em;
    width: 1.7em;
  }

  .verify {
    font-size: 0.7rem !important;
  }

  .clear {
    font-size: 0.7rem !important;
  }

  .resend-p {
    font-size: 0.7rem !important;
  }

  .resendBtn {
    font-size: 0.8rem !important;
  }

  /***********************/

  /* QR Code */

  .qr-container {
    padding: 18.5px;
  }

  .qr-container img {
    margin-top: 10px;
    width: 145px;
    height: 145px;
  }

  .qr-title {
    font-size: 21px !important;
  }

  .qr-p1 {
    font-size: 0.6rem !important;
    margin-top: 5px;
  }

  .qr-p2 {
    font-size: 0.6rem !important;
    margin-bottom: 5px;
  }

  .qr-tip {
    font-size: 0.6rem;
  }

  footer {
    font-size: 10px !important;
  }


  ::ng-deep .snackbar .mdc-snackbar__surface {
    background-color: #0a0a0a !important;
    color: white !important;
    padding: 3px;
    width: 250px !important;
    font-weight: bold;
  }
}


@media (min-width: 480px) and (max-width: 767px) {

  /*Form */
  .form {
    padding: 25px;
  }

  .title {
    font-size: 20px !important;
  }

  .description {
    font-size: 0.8rem !important;
  }

  .form .input-fields input {
    height: 2em;
    width: 2em;
  }

  .verify {
    font-size: 0.75rem !important;
  }

  .clear {
    font-size: 0.75rem !important;
  }

  /* Resend */
  .resend-p {
    font-size: 0.7rem !important;
  }

  .resendBtn {
    font-size: 0.8rem !important;
  }

  /***********************/

  /* QR Code */

  .qr-container {
    padding: 19px;
  }

  .qr-container img {
    margin-top: 10px;
    width: 150px;
    height: 150px;
  }

  .qr-title {
    font-size: 23px !important;
  }

  .qr-p1 {
    font-size: 0.65rem !important;
    margin-top: 5px;
  }

  .qr-p2 {
    font-size: 0.65rem !important;
    margin-bottom: 5px;
  }

  .qr-tip {
    font-size: 0.65rem;
  }

  footer {
    font-size: 11px !important;
  }
}



@media (min-width: 768px) and (max-width: 1023px) {

  /*Form */
  .form {
    padding: 27.5px;
  }

  .title {
    font-size: 22px !important;
  }

  .description {
    font-size: 0.9rem !important;
  }

  .form .input-fields input {
    height: 2.25em;
    width: 2.25em;
  }

  .verify {
    font-size: 0.8rem !important;
  }

  .clear {
    font-size: 0.8rem !important;
  }

  /**********************************/

  /* Resend */

  .resend-p {
    font-size: 0.8rem !important;
  }

  .resendBtn {
    font-size: 0.9rem !important;
  }

  /***********************/

  /* QR Code */

  .qr-container {
    padding: 19.5px;
  }

  .qr-container img {
    margin-top: 10px;
    width: 155px;
    height: 155px;
  }

  .qr-title {
    font-size: 25px !important;
  }

  .qr-p1 {
    font-size: 0.7rem !important;
    margin-top: 5px;
  }

  .qr-p2 {
    font-size: 0.7rem !important;
    margin-bottom: 5px;
  }

  .qr-tip {
    font-size: 0.7rem;
  }

  footer {
    font-size: 11.5px !important;
  }
}
